body {
    background-image: url("https://store.sscalciobari.it/img/cms/bari23/Sfondo-scuro-LC23-Bari.png");
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.st-h2 {
    display: flex;
    justify-content: center;
    margin: -10px 0 20px;
}

.nd-h2 {
    display: flex;
    justify-content: center;
    margin: 0 -10px;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 36px;
    margin-bottom: 20px;
}

.form-box2 {
    margin-top: 70px;
}

.st-button, .nd-button {
    background: #ffffff;
    padding: 10px 15px;
    color: #ed1c24;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 20px -4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    transition: 0.4s;
}

.st-button:hover, .nd-button:hover {
    background: #ed1c24;
    color: #ffffff;
}

.st-button-log1 a {
    background: #ffffff;
    padding: 10px 15px;
    margin-left: 120px;
    width: 20%;
    color: #ed1c24;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 20px -4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    transition: 0.4s;
}

.st-button-log2 a {
    background: #ffffff;
    padding: 10px 15px;
    margin-left: 127px;
    width: 20%;
    color: #ed1c24;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 20px -4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    transition: 0.4s;
}

.nd-button-log {
    background: #ffffff;
    padding: 10px 15px;
    margin-left: 160px;
    width: 20%;
    color: #ed1c24;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 20px -4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    transition: 0.4s;
}

.st-button-log1 a:hover, .st-button-log2 a:hover, .nd-button-log:hover {
    background: #ed1c24;
    color: #ffffff;
}

.st-popup, .nd-popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none; /*none<flex*/
    justify-content: center;
    align-items: center;
}

.st-popup-box {
    height: 500px;
    width: 500px;
    background: transparent;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    backdrop-filter: blur(15px);
    overflow: hidden;
}

.st-popup-box form {
    position: absolute;
    inset: 3px; /*larghezza dello spazio della striscia neon*/
    background: #ffffff;
    padding: 40px 50px; /*spostamento form all'interno della section*/
    border-radius: 20px;
    z-index: 2; /*mette il contenuto del form in primo piano rispetto al neon*/
}

.st-input {
    margin: 0 80px 20px;
    width: 60%;
    padding: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.ricordami {
    margin: 0 0 30px 80px;
}

.nd-popup-box {
    height: 600px;
    width: 500px;
    background: transparent;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    backdrop-filter: blur(15px);
    overflow: hidden;
}

.nd-popup-box form {
    position: absolute;
    inset: 3px; /*larghezza dello spazio della striscia neon*/
    background: #ffffff;
    padding: 20px 40px; /*spostamento form all'interno della section*/
    border-radius: 20px;
    z-index: 2; /*mette il contenuto del form in primo piano rispetto al neon*/
}

.nd-input {
    margin: 10px 0 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 5px;
}

.trattamento {
    margin: 0 0 20px 7px;
}

.forget {
    font-size: 15px;
    color: #000000;
    text-align: center;
    margin: 40px 0 -5px;
    font-weight: 600;
}

.forget a {
    color: #333333;
    text-decoration: none;
}

.forget a:hover {
    text-decoration: underline;
}

.link-log {
    font-size: 15px;
    color: #000000;
    text-align: center;
    margin: 20px;
    font-weight: 600;
}

.link-log a {
    color: #333333;
    text-decoration: none;
}

.link-log a:hover {
    text-decoration: underline;
}

/*inizio animazione form-box1*/
.st-popup-box::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 500px;
    background: linear-gradient(0deg, transparent, transparent, #ed1c24, #ed1c24, #ed1c24);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.st-popup-box::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 500px;
    background: linear-gradient(0deg, transparent, transparent, #ed1c24, #ed1c24, #ed1c24);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.border-linex {
    position: absolute;
    top: 0;
    inset: 0;
}

@keyframes animate

{
    0%

{
    transform: rotate(0deg); 
}
    100%
{
    transform: rotate(360deg);
}
}
/*fine animazione form-box1*/

/*inizio animazione form-box2*/
.nd-popup-box::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 500px;
    background: linear-gradient(0deg, transparent, transparent, #ed1c24, #ed1c24, #ed1c24);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.nd-popup-box::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 500px;
    background: linear-gradient(0deg, transparent, transparent, #ed1c24, #ed1c24, #ed1c24);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.border-linex {
    position: absolute;
    top: 0;
    inset: 0;
}

@keyframes animate

{
    0%

{
    transform: rotate(0deg); 
}
    100%
{
    transform: rotate(360deg);
}
}
/*fine animazione form-box2*/

/*inizio bottone*/
.esc-button {
    position: fixed;
    top: 20%;
    right: 30%;
    background: #fff;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;
    transition: 0.5s;
}

.esc-button:hover {
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

.esc-button:before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #27282c;
}

.esc-button span {
    position: relative;
    z-index: 1;
}

.esc-button i {
    position: absolute;
    inset: 0;
    display: block;
}

.esc-button i::before {
    content: "";
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.esc-button:hover i::before {
    width: 20px;
    left: 20%
}
/*fine bottone*/