<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		<h1>BEnvenuto in area Admin!</h1>
		<form action="adminReserved/registraNews" name="registraNews" method="post" enctype="multipart/form-data" th:object="${news}">
			<label for="titolo">Titolo: </label>
			<input type="text" name="titolo" th:field=*{titolo}>
			<br>
			<label for="descrizione">Descrizione: </label>
			<input type="text" name="descrizione" th:field=*{descrizione}>
			<br>
			<label for="immagine">Immagine: </label>
			<input type="file" name="immagine">
			<br>
			<br>
			<input type="submit" value="Registra la news">
		</form>
		<p th:if="${ni}" style="color:green;">News inserita correttamente!</p>
		
		<form action="adminReserved/registraProdotto" name="registraProdotto" method="post" enctype="multipart/form-data" th:object="${prodotto}">
			<label for="nome">Nome: </label>
			<input type="text" name="nome" th:field="*{nome}" required="required">
			<br>
			<label for="descrizione">Descrizione: </label>
			<input type="text" name="descrizione" th:field="*{descrizione}">
			<br>
			<label for="dettaglio">Dettaglio: </label>
			<input type="text" name="dettaglio" th:field="*{dettaglio}">
			<br>
			<label for="categoria">Categoria: </label>
			<select name="categoria" th:field="*{categoria}" required="required">
				<option value="kit ufficiale">1 - Kit ufficiale </option>
				<option value="magliette">2 - Magliette </option>
				<option value="pantaloni">3 - Pantaloni </option>
				<option value="calze">4 - Calze </option>
				<option value="accessori">5 - Accessori </option>
				<option value="biglietti">6 - Biglietti </option>
				<option value="abbonamenti">7 - Abbonamenti </option>
			</select>
			<br>
			<label for="immagine">Immagine: </label>
			<input type="file" name="immagine">
			<br>
			<label for="prezzo">Prezzo: </label>
			<input type="number" step="any" name="prezzo" th:field="*{prezzo}" required="required">
			<br>
			<br>
			<input type="submit" value="Registra il prodotto">
		</form>
		<p th:if="${pi}" style="color:green;">Prodotto inserito correttamente!</p>
		
		<a th:href="@{adminReserved/logout}"><button>Logout</button></a>
	</body>
</html>