<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dettaglio Prodotto</title>
<link rel="Website Icon" type="png"
	href="https://upload.wikimedia.org/wikipedia/it/thumb/a/a7/SSC_Bari_logo.png/358px-SSC_Bari_logo.png?20210216191910">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="css/prodottoDet.css" rel="stylesheet">
</head>

<body>
	<!-- HEADER/NAVBAR -->
	<div class="row"
		style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">
		<div class="col-md-12"
			style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">
			<nav>
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<a th:href="@{/}"><img src="image/SSC_Bari_logo.png"
						class="logo"></a>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-6">
					<ul style="padding-top: 19px;">
						<li style="margin-right: 2%;"><a th:href="@{/}">HOME</a></li>
						<li style="margin-right: 2%;"><a th:href="@{storia}">LA NOSTRA STORIA</a></li>
						<li style="margin-right: 2%;"><a th:href="@{shop}">SHOP</a></li>
						<li style="margin-right: 2%;"><a th:href="@{ticket}">TICKET</a></li>
						<li style="margin-right: 4%;"><a th:href="@{contatti}">CONTATTACI</a></li>
						<li th:if="!${admin}"><a th:href="@{utenteReserved?scheda=2}"><svg
									xmlns="http://www.w3.org/2000/svg" width="30" height="30"
									fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">                           
						<path
										d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> -->
                         </svg></a></li>
                        
					</ul>
				</div>
				<div class="col-md-1">
					<div class="dropdown">
								<a href="#"
									class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
									data-bs-toggle="dropdown" aria-expanded="false"
									style="color: white;"> <strong th:if="${admin}"
									th:text="${admin.username}"></strong> <strong th:if="${utente}"
									th:text="${utente.username}"></strong> <strong
									th:if="${admin == null && utente == null}">Accedi</strong>
								</a>
								<ul class="dropdown-menu text-small shadow">
									<!--sistemare spazio li>dropdown-->
									<li th:if="${admin != null}" style="margin-left: 4%"><a
										class="dropdown-item" th:href="@{adminReserved}">Area
											personale</a></li>
									<!--link area riservata utente-->
									<li th:if="${admin == null}" style="margin-left: 4%"><a
										class="dropdown-item" th:href="@{utenteReserved}">Area
											personale</a></li>
									<!--link area riservata utente-->
								</ul>
							</div>
				</div>
						
			</nav>
		</div>
	</div>



	<!-- 		<ul th:if="!${admin}" class="navbar-nav ms-auto"> -->
	<!-- 			<li class="nav-item"><a th:href="@{utenteReserved?scheda=2}"><img -->
	<!-- 					src="image/icons8-carrello-64.png" width="30" height="30"></a></li> -->
	<!-- 		</ul> -->



	<!-- SHOP OFFICIALE -->
	<div class="container-fluid vh-100">
		<div class="row"
			style="margin-right: 0px; margin-left: 0; padding: 0px;">
			<div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
				<h1 id="titolo">S.C.C. BARI OFFICIAL SHOP</h1>
			</div>
		</div>

		<!-- RIMANDO ALLA HOME E ALLO SHOP -->
		<div class="row" style="margin-right: 0px; margin-left: 0;">
			<div class="col-md-12">
				<ol class="breadcrumb rimando">
					<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item"><a th:href="@{shop}">Shop</a></li>
					<li class="breadcrumb-item active" aria-current="page">Dettaglio</li>
				</ol>
			</div>
		</div>

		<!-- FOTO PRODOTTO -->
		<div class="row" style="margin-right: 0px; margin-left: 0;">
			<div class="col-md-1"></div>
			<div class="col-md-6">
				<img th:src="@{${prodotto.immagine}}" id="left-side"
					alt="Immagine Prodotto">
			</div>


			<div class="col-md-5">
				<div class="right-side">

					<h1 id="prodotto" th:text="${prodotto.nome}"></h1>
					<h4
						th:if="${prodotto.categoria != 'accessori' && prodotto.categoria != 'biglietti'}">Taglia:</h4>
					<div class="size-buttons">
						<button
							th:if="${prodotto.categoria != 'accessori' && prodotto.categoria != 'biglietti' && prodotto.categoria != 'calze'}"
							class="size-button">S</button>
						<button th:if="${prodotto.categoria == 'calze'}"
							class="size-button">36-39</button>
						<button
							th:if="${prodotto.categoria != 'accessori' && prodotto.categoria != 'biglietti' && prodotto.categoria != 'calze'}"
							class="size-button">M</button>
						<button th:if="${prodotto.categoria == 'calze'}"
							class="size-button">40-43</button>
						<button
							th:if="${prodotto.categoria != 'accessori' && prodotto.categoria != 'biglietti' && prodotto.categoria != 'calze'}"
							class="size-button">L</button>
						<button th:if="${prodotto.categoria == 'calze'}"
							class="size-button">43-46</button>
						<button
							th:if="${prodotto.categoria != 'accessori' && prodotto.categoria != 'biglietti' && prodotto.categoria != 'calze'}"
							class="size-button">XL</button>
						<br>
						<h4
							th:text="${#numbers.formatDecimal(prodotto.prezzo,0,'POINT',2,'COMMA')}  + ' Euro'"
							id="prezzo"></h4>
						<br> <a th:if="${utente == true}"
							th:href="@{dettaglio/aggiungi(id=${prodotto.id})}"><button
								class="st-button" id="st-button">Aggiungi al Carrello</button></a> <a
							th:if="${admin == true}"
							th:href="@{adminReserved?scheda=2(idProdotto=${prodotto.id})}"><button
								class="st-button" id="st-button">Modifica prodotto</button></a> <a
							th:if="${admin == false && utente == false}" th:href="@{login}"><button
								class="st-button" id="st-button">Loggati per acquistare</button></a>
					</div>
					<p th:if="${pa}" style="color: green;">Prodotto aggiunto al
						carrello!</p>
				</div>
			</div>
			<!-- NAV SOTTO FOTO -->
			<div class="row" style="margin-right: 0px; margin-left: 0;">
				<div class="col-md-12">
					<div class="nav-sotto">
						<ul class="nav nav-laterale">
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="#descrizione">Descrizione</a></li>
							<li class="nav-item"><a class="nav-link" href="#dettaglio">Dettagli</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<!-- DESCRIZIONE PRODOTTO -->
			<div class="row" style="margin-right: 0px; margin-left: 0;">
				<div class="col-md-5">
					<div id="descrizione">
						<h2>Descrizione</h2>
						<p th:text="${prodotto.descrizione}"></p>
					</div>
					<div id="dettaglio">
						<h2>Dettagli</h2>
						<p th:text="${prodotto.dettaglio}"></p>
					</div>
				</div>
				<!-- COLONNA PER SEPARARE GIF CON LA DESCRIZIONE -->
				<div class="col-md-4"></div>
				<div class="col-md-3">
					<a th:href="@{shop}"><img
						src="image/BlueSimpleEffectiveCommunicationInfographic(1).gif"
						id="nuovi-p" alt="Nuovi prodotti"></a>
				</div>
			</div>
			<br>

			<!-- FOOTER -->
			<footer class="container-fluid text-white py-3 footer"
				style="margin-top: 25px !important;">
				<div class="row justify-content-center"
					style="background-color: #ca0c1f; margin-right: 0px; margin-left: 0; margin-top: 25px;">
					<!-- Sezione 1: Logo del Bari Calcio -->
					<div class="col-md-2 align-self-center">
						<img src="image/SSC_Bari_logo.png" alt="Logo Bari Calcio"
							class="d-block mx-auto" width="100">
					</div>

					<!-- Sezione 2: Lista di rimandi ad altre pagine -->
					<div class="col-md-3 text-center">
						<h4>Le nostre pagine</h4>
						<ul class="list-unstyled footer-content">
							<li><a th:href="@{/}">Home page</a></li>
							<li><a th:href="@{storia}">Chi siamo</a></li>
							<li><a th:href="@{shop}">Shop</a></li>
							<li><a th:href="@{ticket}">Biglietteria</a></li>
							<li><a th:href="@{contatti}">Contatti</a></li>
						</ul>
					</div>

					<!-- Sezione 3: Newsletter -->
					<div class="col-md-4 text-center">
						<h4>Iscriviti alla newsletter:</h4>
						<br /> <input type="email"
							class="form-control rounded-pill mx-auto"
							placeholder="Inserisci la tua email" style="width: 190px;">
						<br />
						<button class="btn btn-custom btn-hover bottone_footer">Iscriviti</button>
					</div>

					<!-- Sezione 4: Rimandi ai social media -->
					<div class="col-md-3 text-center">
						<ul class="list-inline footer-content">
							<li class="list-inline-item"><a href="#"><img
									src="image/footer/instagram.webp" alt="Instagram" width="40"
									height="40"></a></li>
							<li class="list-inline-item"><a href="#"><img
									src="image/footer/facebook.png" alt="Facebook" width="40"
									height="40"></a></li>
							<li class="list-inline-item"><a href="#"><img
									src="image/footer/tiktok.png" alt="TikTok" width="40"
									height="40"></a></li>
							<li class="list-inline-item"><a href="#"><img
									src="image/footer/youtube.png" alt="YouTube" width="40"
									height="40"></a></li>
							<li class="list-inline-item"><a href="#"><img
									src="image/footer/telegram.png" alt="Telegram" width="40"
									height="40"></a></li>
							<li class="list-inline-item"><a href="#"><img
									src="image/footer/wechat.png" alt="WeChat" width="40"
									height="40"></a></li>
						</ul>
					</div>
				</div>

				<!-- Sezione 4: Separatore e informazioni di copyright -->
				<div class="row" style="margin-right: 0px; margin-left: 0;">
					<div class="col-md-12 text-center">
						<hr class="scenic-hr">
						<p>© 2023 S.S.C. Bari. All Rights Reserved.</p>
					</div>
				</div>
			</footer>























		</div>

	</div>

	<script src="JS/prodottoDEt.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>

</body>

</html>