<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Area Riservata Utente</title>
	</head>
	<body>
		<table>
			<tr>
				<td th:text="'Nome e cognome: ' + ${utente.nome} + ' ' +${utente.cognome}"></td>
			</tr>
			<tr th:each="o : ${ordini}">
				<td th:text="${o.id}"></td>
				<td th:text="${o.data}"></td>
				<td th:text="${o.importo}"></td>
			</tr>
			</table>
			<table>
			<tr th:each="p : ${carrello}">
				<td th:text="${p.nome}"></td>
				<td th:text="${p.descrizione}"></td>
				<td th:text="${p.categoria}"></td>
				<td><a th:href="@{utenteReserved/eliminaDaCarrello(id=${p.id})}">Elimina dal carrello</a></td>
			</tr>
			<tr th:if="!${oa}">
				<td><a th:href="@{utenteReserved/inviaOrdine}"><button>Invia Ordine</button></a></td>
			</tr>			
		</table>
	
		<a th:href="@{utenteReserved/logout}"><button>Logout</button></a>
	</body>
</html>